APP_CONFIG__BOT__TOKEN=your_bot_token
# ID канала, куда падают обращения (бот должен быть админом канала), пример: -1001234567890
APP_CONFIG__BOT__CHANNEL_ID=0
# Telegram ID суперадмина (он назначает остальных админов)
APP_CONFIG__BOT__SUPERADMIN_ID=0

APP_CONFIG__DB__NAME=your_db_name
APP_CONFIG__DB__PASSWORD=your_db_password
APP_CONFIG__DB__USER=your_db_user
APP_CONFIG__DB__HOST=localhost
APP_CONFIG__DB__PORT=5432
APP_CONFIG__DB__DRIVER=postgresql+asyncpg

APP_CONFIG__DB__ECHO=0
APP_CONFIG__DB__ECHO_POOL=0
APP_CONFIG__DB__POOL_SIZE=50
APP_CONFIG__DB__MAX_OVERFLOW=10

APP_TEST_CONFIG__DB__NAME=your_test_db_name
APP_TEST_CONFIG__DB__PASSWORD=your_test_db_password
APP_TEST_CONFIG__DB__USER=your_test_db_user
APP_TEST_CONFIG__DB__HOST=localhost
APP_TEST_CONFIG__DB__PORT=5433
APP_TEST_CONFIG__DB__DRIVER=postgresql+asyncpg

APP_TEST_CONFIG__DB__ECHO=0
APP_TEST_CONFIG__DB__ECHO_POOL=0

APP_CONFIG__REDIS__HOST=localhost
APP_CONFIG__REDIS__PORT=6379
APP_CONFIG__REDIS__DB=0

APP_TEST_CONFIG__REDIS__HOST=localhost
APP_TEST_CONFIG__REDIS__PORT=6379
APP_TEST_CONFIG__REDIS__DB=1

APP_CONFIG__LOGGING__LEVEL=INFO